# Carphacom Admin example environment
NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000
MEDUSA_BACKEND_URL=http://localhost:9000
NEXT_PUBLIC_BASE_URL=http://localhost:3000/app
NEXT_PUBLIC_ADMIN_BASE_PATH=/app
DATABASE_URL=postgres://carphacom:change-me@127.0.0.1:5432/qubit_store
